.navbar{
    height: 60px;
}
.navbar-toggler{
    padding: 0%;
    border:none;
    height: 10%;
}
.nav-link{
    font-size: 20px;
    color:#ffff;
}
.menuham-container {
    width: 100%;} 
  
.menuham {
    width: 40px;
    background-color: #212529; 
}
  


.logo{
    width: 80%;
   margin: 2% auto;   
   img {
    width: 50%;
    margin: auto 25%;
    }
}
