<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menuham-container"><img src="./../../../assets/imagenes/descarga.jpg" alt="Logo" class="menuham"></div>
        </button>
        <div class=" navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/turnos">Turnos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="logo">
    <img src="./../../../assets/imagenes/pngwing.com.JPG" alt="">

</div>