h2 { 
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    margin: 4% auto 2% auto;
    font-size: 3rem;    
}

.form-container{
    padding: 2%;
    width: 75%;
    margin: 0 auto;
}

.form-groupContacto label{
    padding-bottom: 5px;
}

.form-control{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(41, 40, 40);
    margin: auto;  
    margin-bottom: 15px;
}

.opciones{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;
}

.suscribirse-checkbox{
    padding-bottom: 5px;
}

.btn-contacto {
    text-align: center;
    .buttom{
        padding: 1%;
    }
}

#tabla{ 
    width: 75%;
    margin: 30px auto 0 auto;
    font-size: 1rem;    
}
td {
    text-align: center;
    justify-content: center;
    margin: 0;
    align-items: center;
    position: relative;
}

#editarRemover{
    text-align: center;
}
#hora{ 
   text-align: center;
}

ul{ 
    margin: 7%
}

.liturnos{
    padding :1%;
}

.btnedit{
    margin:  1%;
}

.btnremover{ 
    margin-left: 1%;
}

.listaServidor{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    p{
        margin-bottom:0 ;
    }      
}

#btn2, #btn3{
    margin:1%;
}
/* Medias Query*/
@media only screen and (max-width: 600px){
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .listaServidor{
        font-size: 14px;
        margin: 0 auto;
        width: 80%;
    }

}
