<h2>Servicios</h2>
<section class="infoconocenos">
  <article class="Pircing">
    <h3>Pircing</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas a obcaecati, alias accusantium
      accusamus
      nobis fugiat sunt vel itaque, porro tempore id incidunt. Veniam fugiat quod corrupti deserunt sunt
      error.
    </p>
  </article>
  <article class="Tattu">
    <h3>Tatuajes </h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis rerum at possimus voluptates
      officia, commodi corrupti debitis accusantium sit aliquam asperiores enim? Esse in aliquid ullam ducimus
      nostrum sint consequatur.</p>
  </article>
  <article class="Henna">
    <h3>Tatuajes de henna</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iste non voluptates nemo eum nulla
      soluta tenetur earum at ipsum, porro quas corporis quaerat. Placeat reprehenderit quas incidunt repellat
      accusamus!</p>
  </article>
</section>
