
.carousel {
    margin: 0 auto;
    width: 90%;
    padding: 2%;
}
.carousel-item{   
    float:none;
}

.carousel img {
    justify-content: center;
    width: 90%;
    max-height: 500px;
}
  
.d-block {
    margin: 0 auto; }
    