/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    color:#ffff;
}

body{
    background-image: url("./assets/imagenes/fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:90%;
}

html, body { 
    height: 100%; 
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
